<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
  <div
    *ngIf="result"
    class="container_detail animate__animated animate__bounce animate__fadeIn"
  >
    <p><strong>Title </strong>{{ result.title  }}</p>
    <img
      src="https://image.tmdb.org/t/p/original{{result.poster_path}}"
      alt="{{result.poster_path}}"
      class="rounded"
      width="300" height="150"
    /> 
</div>

  </mat-grid-tile>
  <mat-grid-tile>
     <a mat-raised-button color="accent" routerLink="/">Back</a>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
  <mat-accordion *ngIf="result">
    <mat-expansion-panel hideToggle (closed)="texto = 'Show all details'"
    (opened)="texto = 'Hide details'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-raised-button color="primary">{{texto}}</button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p><strong>Identifier:</strong> {{ result.id }}</p>
      <p><strong>Title:</strong> {{ result.title }}</p>
      <p><strong>Release Date:</strong> {{ result.release_date }}</p>
      <p><strong>Overview:</strong> {{ result.overview }}</p>
      <p><strong>Original Language:</strong> {{ result.original_language }}</p>
      <p><strong>Original Title:</strong> {{ result.original_title }}</p>
  
      <p><strong>Popularity:</strong> {{ result.popularity }}</p>
      <p><strong>Vote average:</strong> {{ result.vote_average }}</p>
      <p><strong>Vote count:</strong> {{ result.vote_count }}</p>
    </mat-expansion-panel>
  </mat-accordion>
   
  </mat-grid-tile>

</mat-grid-list>

