<app-spinner *ngIf="loading"></app-spinner>

<header class="buttons">
  <h1>Movies</h1>
  <mat-button-toggle-group
    #vista="matButtonToggleGroup"
    aria-label="Vista"
    [value]="valor"
  >
    <mat-button-toggle value="cards" aria-label="Vista cards">
      <mat-icon>grid_view</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="tabla" aria-label="Vista tabla">
      <mat-icon>view_list</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</header>
<main>
  <div *ngIf="vista.value == 'tabla' && movies?.results" class="container_table">
    <app-grid [results]="movies.results" (detail)="detail($event)"></app-grid>
  </div>
  <div *ngIf="vista.value == 'cards' && movies?.results" class="container_card">
    <app-card
      *ngFor="let result of movies.results"
      [result]="result"
      (click)="detail(result.id.toString())"
    ></app-card>
  </div>
</main>
