
tr:hover {
    background-color: var(--fondotransp) !important;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: var(--fondo);
}

tr:nth-child(odd) {
    background-color: transparent;
}

img {
    width: 3vw;
    height: auto;
}
