<table mat-table [dataSource]="images" class="mat-elevation-z8">
  <ng-container matColumnDef="imageId">
    <th *matHeaderCellDef>Image Id</th>
    <td *matCellDef="let image">
      {{ image.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th *matHeaderCellDef>Author</th>
    <td class="description-cell" *matCellDef="let image" >
       {{ image.author }} 
    </td>
  </ng-container>
  <ng-container matColumnDef="image">
    <th *matHeaderCellDef>Image</th>
    <td class="description-cell" *matCellDef="let image" >
     
        <img
          src="{{ image.download_url }}"
          alt="foto de ejemplo"
          style="width: 2vw"
      />
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" class="animate__animated animate__rubberBand" (click)="emite(row.id)" ></tr>
</table>
