<table mat-table [dataSource]="results" class="mat-elevation-z8">
  <ng-container matColumnDef="movieId">
    <th *matHeaderCellDef>Movie Id</th>
    <td *matCellDef="let result">
      {{ result.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th *matHeaderCellDef>Title</th>
    <td class="description-cell" *matCellDef="let result" >
       {{ result.title }} 
    </td>
  </ng-container>
  <ng-container matColumnDef="image">
    <th *matHeaderCellDef>Image</th>
    <td class="description-cell" *matCellDef="let result" >
     
        <img
          src="https://image.tmdb.org/t/p/w500{{result.backdrop_path}}"
          alt="{{ result.backdrop_path }}"
         width="200" height="100"
      />
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" class="animate__animated animate__rubberBand" (click)="emite(row.id)" ></tr>
</table>
